/* Global */
/* 자주 쓰는 스타일링 설정을 변수로 설정해둔다. */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-blue: #64C9CF;
  --color-beige: #FDE49C;
  --color-yellow: #FFB740;
  --color-camel: #DF711B;
  --color-grey: #616161;
  --color-frenchgrey: #EDE8E8;
  --color-dark-grey: #4d4d4d;
  --color-lightgreen: #3E6A40;
  --color-black: #000000;
  --color-green: #004225;
  --color-melon: #3b76ad;
  --color-light-grey:#778899;


  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}



/* Universal tags */
*{
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  margin : 0;
}

a {
  text-decoration: none;
}

a.logo_link{
  font-size: var(--font-medium);
  color: var(--color-yellow);
}

ul {
  list-style: none;
  padding-left : 0;
}

li {
  list-style:none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}


/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-green);
  align-items: center;
  font-weight: var(--weight-bold);
  color: var(--color-beige);
}

.navbar__menu {
  display: flex;
}

.navbar__logo{
  color: var(--color-yellow);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active{
  border : 1px solid var(--color-frenchgrey);
}

.navbar__menu__item:hover {
  background-color: var(--color-lightgreen);
}

/* Home */
#home {
  background: url("imgs/portfoliobg.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-yellow);
}

.home__title, 
.home__description {
  color: var(--color-green);
}

.home__contact {
  color: var(--color-green);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border : 2px solid var(--color-green);
  border-radius : var(--size-border-radius);
}

/* Section common */
/* 공통된 부분(section) 설정 */

.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display : flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border: 1px solid var(--color-melon);
  border-radius: 50%;
  color: var(--color-melon);
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover {
  color: var(--color-yellow);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-grey);
  margin-left: 20px;
  margin-right: 20px;
}

.major__title {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.major__description {
  font-size: var(--font-small);
}

.school {
  display: flex;
  align-items:center;
}

.school {
  margin: 0 20px 10px;
  text-align: left;
}

.school__logo {
  margin-right : 20px;
}
.school__name,
.school__period {
  color: var(--color-grey);
}

.school__name {
  font-size : var(--font-micro);
}

.school__period {
  font-size : var(--font-micro);
}